{
  "presets": ["es2015"],
  "plugins": [
    "closure-elimination",
    "transform-async-to-generator",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]
  ]
}